body {
  background-color: #171c26;
  font-family: "Space Mono", monospace;
}

.container {
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  color: #ffffff;
}

.main-box {
  margin: 0 auto;
  background-color: #29e3da;
  color: #000000;
  padding: 20px;
  width: 75%;
  display: flex;
  flex-direction: flex-wrap;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 5px;
}

.box-1 {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#eventhandler-def {
  display: none;
}

#chaining-def {
  display: none;
}

#boolean-def {
  display: none;
}

#assignop-def {
  display: none;
}

#compop-def {
  display: none;
}

#concat-def {
  display: none;
}

#method-def {
  display: none;
}

#return-def {
  display: none;
}

#argument-def {
  display: none;
}

#var-def {
  display: none;
}

#string-def {
  display: none;
}

#arithmetic-def {
  display: none;
}

#callback-def {
  display: none;
}

#uilogic-def {
  display: none;
}

#argvsfunc-def {
  display: none;
}

#bizlogic-def {
  display: none;
}
